results/*
!results/.gitkeep 
__pycache__/
examples/ 
!examples/.gitkeep
raven_data/*
!raven_data/.gitkeep
checkpoints/*
checkpoints2/*
checkpoint*
!checkpoints/.gitkeep 
.DS_Store 
tmp/ 
tmp.*
*.tmp
data/datasets/* 
